*{
    background-color: rgb(122, 110, 60);
    font-family: 'Courier New', Courier, monospace, monospace;
    color: rgba(207, 224, 56, 0.888);
}

.header{
    text-align: center;
    background: rgb(55, 93, 61);
    border: .3em solid black;
    padding: .15em;
    margin: .25em 3.5em;
    color: peachpuff;
    font-size: 3em;
    font-family: fantasy;
}

.list{
    display: flex;

    /* Creates spacing between listed divs */
    justify-content: space-between;
    /*this padding is between the list flexbox and everything around it (ie header)*/
    padding: 1em;
}

.list .link{

    /*flexbox that makes divs touch*/
    /* flex: 1; */

    background-color: rgb(55, 93, 61);
    border: 4px solid black;
    text-align: center;
    /*padding affects the padding around the link*/
    padding: 1em;
}

a:link{
    background-color: transparent;
    text-decoration: none;
}


h2{
    color:peachpuff;
    font-family: fantasy;
}

p{
    color:peachpuff;
}

a:hover{
    color: peachpuff; 
    text-decoration:overline;
    cursor: pointer;
}